<section id="about">
  <header class="header-intro main-section">
    <div class="full-line">
      <h1 class="page-title">{{{__ "about.subtitle"}}}</h1>
      <p class="catchphrase">{{{__ "about.mainTitle"}}}</p>
    </div>
    <div class="half-line">
      <p>{{{__ "about.content440.1"}}}</p>
      <p>{{{__ "about.content440.2"}}}</p>
      <p>{{{__ "about.content440.3"}}}</p>
    </div>
  </header>
  <section class="full-page-list">
    <img src="images/lea.jpeg" alt="Léa Ikkache's photo">
    <h1>Léa Ikkache</h1>
    <ol>
      <li>
        <h2>{{{__ "about.contentLéa.1.title"}}}</h2>
        <p>{{{__ "about.contentLéa.1.paragraph"}}}</p>
      </li>
      <li>
        <h2>{{{__ "about.contentLéa.2.title"}}}</h2>
        <p>{{{__ "about.contentLéa.2.paragraph"}}}</p>
      </li>
      <li>
        <h2>{{{__ "about.contentLéa.3.title"}}}</h2>
        <p>{{{__ "about.contentLéa.3.paragraph"}}}</p>
      </li>
      <li>
        <h2>{{{__ "about.contentLéa.4.title"}}}</h2>
        <p>{{{__ "about.contentLéa.4.paragraph"}}}</p>
      </li>
      <li>
        <h2>{{{__ "about.contentLéa.5.title"}}}</h2>
        <p>{{{__ "about.contentLéa.5.paragraph"}}}</p>
      </li>
    </ol>
    <address>
      <a href="https://www.linkedin.com/in/l%C3%A9a-ikkache-4b448683/">Linkedin</a>
      <a href="mailto:lea.ikkache@zaclys.net">{{{__ "footer.email"}}}</a>
    </address>
  </section>
</section>