<section id="contact">
  <header class="header-intro main-section">
    <h1 class="page-title">{{{__ "contact.subtitle"}}}</h1>
    <p class="catchphrase">{{{__ "contact.mainTitle"}}}</p>
    <p class="sub-catchphrase">{{{__ "contact.description"}}}</p>
    <div class="buttons-panel">
      <a class="button white-button" href="#contact-form">{{{__ "contact.buttons.1"}}}</a>
      <a class="button mixed-button" href="#invoice-form">{{{__ "contact.buttons.2"}}}</a>
    </div>
  </header>
  <section id="contact-form" class="main-section">
    <h2>Prise de contact</h2>
    <div class="form contact-form">
      <input type="hidden" id="requested-service" name="requestedService" value="${requestedService}">
      <div class="form-group flex-col">
        <label for="client-name">Nom<span class="mandatory">*</span></label>
        <input type="text" name="name" id="client-name" required />
      </div>
      <div class="form-group flex-col">
        <label for="client-email">Email de contact<span class="mandatory">*</span></label>
        <input type="text" name="email" id="client-email" required />
      </div>
      <div class="form-group flex-col">
        <label for="client-message">Message<span class="mandatory">*</span></label>
        <textarea name="message" id="client-message" cols="30" rows="6"></textarea>
      </div>
      <div class="flex align-c justify-e">
        <div class="additional"></div>
        <button id="send-contact" class="button black-button" type="submit">Envoyer</button>
      </div>
    </div>
  </section>
  <section id="invoice-form" class="main-section">
    <h2>Formulaire de devis</h2>
    <div class="form contact-form">
      <input type="hidden" id="requested-service" name="requestedService" value="${requestedService}">
      <div class="form-group flex-col">
        <label for="client-name">Nom<span class="mandatory">*</span></label>
        <input type="text" name="name" id="client-name" required />
      </div>
      <div class="form-group flex-col">
        <label for="client-email">Email de contact<span class="mandatory">*</span></label>
        <input type="text" name="email" id="client-email" required />
      </div>
      <div class="form-group flex-col">
        <label for="client-number">Numéro de téléphone</label>
        <input type="text" name="number" id="client-number" />
      </div>
      <div class="form-group flex-col">
        <label for="client-type">Nom de l'Entreprise ou Ecole du supérieur<span class="mandatory">*</span></label>
        <input type="text" name="type" id="client-type" required />
      </div>
      <div class="form-group flex-col">
        <label for="client-type">Adresse de l'Entreprise ou Ecole du supérieur<span class="mandatory">*</span></label>
        <input type="text" name="type" id="client-address" required />
      </div>
      <div class="form-group flex-col">
        <p for="client-type">Prestations</p>
        <div class="bordered">
          <div class="index-container flex space-b">
            <p>01</p>
            <img src="/images/menu-close-white.svg" id="close-invoice"></img>
          </div>
          <div class="form-group flex-col">
            <label for="presta-type1">Type (diagnostic, atelier, conférence, formation)</label>
            <select name="type1" id="client-type-1">
              <option value=""></option>
              <option value="diagnostics">Diagnostics</option>
              <option value="ateliers">Ateliers</option>
              <option value="conférences">Conférences</option>
              <option value="formations">Formations</option>
            </select>
          </div>
          <div class="form-group flex-col">
            <label for="presta-name-1">Nom de la prestation</label>
            <select name="type1" id="client-type-1">
              <option value=""></option>
              <option value="diagnostics">Diagnostics</option>
              <option value="ateliers">Ateliers</option>
              <option value="conférences">Conférences</option>
              <option value="formations">Formations</option>
            </select>
          </div>
        </div>
      </div>
      <div class="flex align-c">
        <button id="send-invoice" class="button black-button" type="submit">Envoyer</button>
        <div id="additional-message"></div>
      </div>
    </div>
  </section>
</section>