<section id="home">
  <header class="header-intro main-section">
    <div class="main-title">
      <h1><span>{{{__ "home.mainTitle"}}}</span></h1>
    </div>
    <p class="catchphrase">{{{__ "home.introText"}}}</p>
    <a href="#discover" class="icon-container">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </header>
  <section id="discover" class="discover flex wrap main-section">
    <div class="left">
      <div>
        <h2 class="hero-title">{{{__ "home.welcomeMessage"}}}</h2>
        <p class="hero-subtitle">{{{__ "home.welcomeSentence"}}}</p>
      </div>
    </div>
    <div class="right">
      <div class="right-top flex-col space-b">
        <div class="right-main">
          <ul class="inline-list flex wrap">
            <li>{{{__ "home.rightTop.details.1"}}}</li>
            <li>{{{__ "home.rightTop.details.2"}}}</li>
            <li>{{{__ "home.rightTop.details.3"}}}</li>
          </ul>
          <h2>{{{__ "home.rightTop.mainGoal"}}}</h2>
        </div>
        <div class="right-footer">
          <h3 class="semi-underlined">
            <a href="{{{__ "home.rightTop.rawLink"}}}">{{{__ "home.rightTop.link"}}}</a>
          </h3>
        </div>
      </div>
      <div class="right-bottom flex-col space-b">
        <div class="right-main">
          <ul class="inline-list flex wrap">
            <li>{{{__ "home.rightBottom.details.1"}}}</li>
            <li>{{{__ "home.rightBottom.details.2"}}}</li>
            <li>{{{__ "home.rightBottom.details.3"}}}</li>
            <li>{{{__ "home.rightBottom.details.4"}}}</li>
          </ul>
          <h2>{{{__ "home.rightBottom.mainGoal"}}}</h2>
        </div>
        <div class="right-footer">
          <h3 class="semi-underlined">
            <a href="{{{__ "home.rightBottom.rawLink"}}}">{{{__ "home.rightBottom.link"}}}</a>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="clients main-section">
    <div>
      <h2 class="hero-title">{{{__ "home.clients.title"}}}</h2>
      <p class="hero-subtitle">{{{__ "home.clients.sentence"}}}</p>
    </div>
    <div class="grid">
      <figure class="img-cell"> <img src="/images/cerdd.png" alt="logo CERDD">
      </figure>
      <figure class="img-cell"> <img src="/images/ldv.png" alt="logo Leonard de Vinci">
      </figure>
      <figure class="img-cell"> <img src="/images/gw.png" alt="logo Greenworking">
      </figure>
      <figure class="img-cell"> <img src="/images/framatome.png" alt="logo framatome">
      </figure>
      <figure class="img-cell"> <img src="/images/ft.png" alt="logo France Télévisions">
      </figure>
      <figure class="img-cell"> <img src="/images/sg.png" alt="logo Société Générale">
      </figure>
      <figure class="img-cell"> <img src="/images/mr21.png" alt="logo MR21">
      </figure>
      <figure class="img-cell"> <img src="/images/centrale.png" alt="logo Centrale Supélec">
      </figure>
    </div>
  </section>
  <section class="testimonies main-section">
    <blockquote class="slides col flex-center">
      <p>{{{__ "home.quotes.1.sentence"}}}</p>
      <footer>{{{__ "home.quotes.1.user"}}}</footer>
    </blockquote>
    <blockquote class="slides col flex-center">
      <p>{{{__ "home.quotes.2.sentence"}}}</p>
      <footer>{{{__ "home.quotes.2.user"}}}</footer>
    </blockquote>
    <blockquote class="slides col flex-center">
      <p>{{{__ "home.quotes.3.sentence"}}}</p>
      <footer>{{{__ "home.quotes.3.user"}}}</footer>
    </blockquote>
    <div class="dots flex flex-center">
      <span class="dot" data-index="0"></span>
      <span class="dot" data-index="1"></span>
      <span class="dot" data-index="2"></span>
    </div>
  </section>
</section>