<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- COMMUN STYLESHEETS --}}
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/hamburgers.css">

  {{!-- SPECIFIC STYLESHEETS --}}
  {{#each styles}}
  <link rel="stylesheet" href="/stylesheets/{{this}}.css">
  {{/each}}
  {{!-- JS SCRIPTS --}}
  <script async src="https://kit.fontawesome.com/3c3287be3c.js" crossorigin="anonymous"></script>
  <script type="module" src="/javascripts/nav.js"></script>
  <script type="module" src="/javascripts/footer.js"></script>
  <script type="module" src="/javascripts/sizing.js"></script>
  {{#each scripts}}
  <script type="module" src="/javascripts/{{this}}.js"></script>
  {{/each}}
</head>

<body id="body">
  <nav id="navbar">
    <div>
      <button class="hamburger hamburger--collapse js-hamburger" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <h1><a href="/">{{{__ "headline.title"}}}</a></h1>
    </div>
    <div class="languages">
      <a href="/fr">FR</a>
      <a href="/en">EN</a>
    </div>
  </nav>
  <nav id="myNav" class="overlay" data-page="{{currentPage}}">
    <ul class="overlay-content">
      <li data-link="home"><a href="/">{{{__ "nav.1"}}}</a></li>
      <li data-link="transition"><a href="/transition">{{{__ "nav.2"}}}</a></li>
      <li data-link="about"><a href="/about">{{{__ "nav.3"}}}</a></li>
      <li data-link="presta"><a href="/prestations">{{{__ "nav.4"}}}</a></li>
      <li data-link="ressources"><a href="/ressources">{{{__ "nav.5"}}}</a></li>
    </ul>
    <footer>
      {{!-- <a href="https://www.linkedin.com/in/l%C3%A9a-ikkache-4b448683/" target="_blank">Linkedin</a> --}}
      <p>© Copyright 2020 IMCO transition. All Rights Reserved.</p>
    </footer>
  </nav>
  {{{body}}}
  <footer id="footer">
    <div class="contact">
      <p>{{{__ "footer.name"}}}</p>
      <address>
        <p class="address">
          <a href="mailto:lea.ikkache@zaclys.net">{{{__ "footer.email"}}}</a>
        </p>
      </address>
    </div>
    <div class="links first-links">
      <a href="{{{__ "footer.rawLinks.1"}}}">{{{__ "footer.mainLinks.1"}}}</a>
      <a href="{{{__ "footer.rawLinks.2"}}}">{{{__ "footer.mainLinks.2"}}}</a>
      <a href="{{{__ "footer.rawLinks.3"}}}">{{{__ "footer.mainLinks.3"}}}</a>
      <a href="{{{__ "footer.rawLinks.4"}}}">{{{__ "footer.mainLinks.4"}}}</a>
    </div>
    <div class="links second-links">
      <a href="{{{__ "footer.rawLinks.5"}}}">{{{__ "footer.mainLinks.5"}}}</a>
      <a href="{{{__ "footer.rawLinks.5"}}}#{{{__ "prestations.detailedServices.1"}}}"
        data-cat="{{{__ "prestations.detailedServices.1"}}}" class="sub-link">{{{__ "footer.subLinks.1"}}}</a>
      <a href="{{{__ "footer.rawLinks.5"}}}#{{{__ "prestations.detailedServices.2"}}}"
        data-cat="{{{__ "prestations.detailedServices.2"}}}" class="sub-link">{{{__ "footer.subLinks.2"}}}</a>
      <a href="{{{__ "footer.rawLinks.5"}}}#{{{__ "prestations.detailedServices.3"}}}"
        data-cat="{{{__ "prestations.detailedServices.3"}}}" class="sub-link">{{{__ "footer.subLinks.3"}}}</a>
      <a href="{{{__ "footer.rawLinks.5"}}}#{{{__ "prestations.detailedServices.4"}}}"
        data-cat="{{{__ "prestations.detailedServices.4"}}}" class="sub-link">{{{__ "footer.subLinks.4"}}}</a>
    </div>
    <div class="links third-links">
      <a href="/ressources">{{{__ "footer.mainLinks.6"}}}</a>
      <a href="">{{{__ "footer.mainLinks.7"}}}</a>
    </div>
    <div class="copyright">
      <p>{{{__ "footer.design"}}} : <a href="https://www.elvirevolkdesign.com/" target="_blank">Elvire Volk
          Leonovitch</a> | {{{__ "footer.dev"}}}
        : <a href="https://www.linkedin.com/in/tatijana-rajcic-692389139/" target="_blank">Tatijana Rajcic</a></p>
      <p>© Copyright 2020 Fréquence 440. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>