<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- COMMUN STYLESHEETS --}}
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/hamburgers.css">

  {{!-- SPECIFIC STYLESHEETS --}}
  {{#each styles}}
  <link rel="stylesheet" href="/stylesheets/{{this}}.css">
  {{/each}}
  {{!-- JS SCRIPTS --}}
  <script async src="https://kit.fontawesome.com/3c3287be3c.js" crossorigin="anonymous"></script>
  <script type="module" src="/javascripts/nav.js"></script>
  {{#each scripts}}
  <script type="module" src="/javascripts/{{this}}.js"></script>
  {{/each}}
</head>

<body id="body">
  <nav id="navbar">
    <button class="hamburger hamburger--collapse js-hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <h1><a href="/">Fréquence 440</a></h1>
  </nav>
  <nav id="myNav" class="overlay" data-page="{{currentPage}}">
    <ul class="overlay-content">
      <li data-link="home"><a href="/">Accueil</a></li>
      <li data-link="transition"><a href="/transition">La transition</a></li>
      <li data-link="about"><a href="/about">À propos</a></li>
      <li data-link="presta"><a href="/prestations">Les prestations</a></li>
      <li data-link="ressources"><a href="/ressources">Les ressources</a></li>
    </ul>
    <footer>
      <a href="https://www.linkedin.com/in/l%C3%A9a-ikkache-4b448683/">Linkedin</a>
      <p>© Copyright 2020 IMCO transition. All Rights Reserved.</p>
    </footer>
  </nav>
  {{{body}}}
  <footer id="footer">
    <div class="contact">
      <p>Fréquence 440</p>
      <address>
        <p class="address">
          <a href="mailto:lea.ikkache@zaclys.net">lea.ikkache@zaclys.net</a>
        </p>
      </address>
    </div>
    <div class="links first-links">
      <a href="/">Accueil</a>
      <a href="/transition">La transition</a>
      <a href="/about">A propos</a>
      <a href="/contact">Contact</a>
    </div>
    <div class="links second-links">
      <a href="/prestations">Prestations</a>
      <a href="/prestations" class="sub-link">Diagnostics</a>
      <a href="/prestations" class="sub-link">Formations ludiques</a>
      <a href="/prestations" class="sub-link">Conférences interactives</a>
      <a href="/prestations" class="sub-link">Ateliers de co-construction</a>
    </div>
    <div class="links third-links">
      <a href="/ressources">Ressources</a>
      <a href="">Mentions légales</a>
    </div>
    <div class="copyright">
      <p>Design : Elvire Volk Leonovitch | Développement : Tatijana Rajcic</p>
      <p>© Copyright 2020 Fréquence 440. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>