<section id="legal">
  <header class="header-intro main-section">
    <div>
      <h1 class="page-title">{{{__ "legal.subtitle"}}}</h1>
      <p class="catchphrase">{{{__ "legal.mainTitle"}}}</p>
    </div>
    <div class="full-page-list">
      <ol>
        <li>
          <h2>{{{__ "legal.contentList.1.title"}}}</h2>
          <p>{{{__ "legal.contentList.1.paragraph"}}}</p>
        </li>
        <li>
          <h2>{{{__ "legal.contentList.2.title"}}}</h2>
          <p>{{{__ "legal.contentList.2.paragraph"}}}</p>
        </li>
      </ol>
    </div>
  </header>
</section>