<section id="presta">
  <header class="header-intro main-section">
    <h1 class="page-title">{{{__ "prestations.subtitle"}}}</h1>
    <p class="catchphrase">{{{__ "prestations.mainTitle"}}}</p>
    <p class="sub-catchphrase">{{{__ "prestations.description"}}}</p>
    <div class="buttons-panel">
      <a class="button white-button" href="/prestations">{{{__ "prestations.buttons.1"}}}</a>
      <a class="button mixed-button" href="#details">{{{__ "prestations.buttons.2"}}}</a>
    </div>
  </header>
  <section id="details" class="detailed-services main-section">
    <h2 class="hero-title">{{{__ "prestations.sectionTitle"}}}</h2>
    <p class="hero-subtitle">{{{__ "prestations.sectionDescription"}}}</p>
    <div class="presta-grid">
      <div>
        <ul class="presta-list">
          <li class="presta-item" data-cat="{{{__ "prestations.detailedServices.1"}}}">
            <span>{{{__ "prestations.links.1"}}}</span> <i class="fas"></i>
          </li>
          <li class="presta-item" data-cat="{{{__ "prestations.detailedServices.2"}}}">
            <span>{{{__ "prestations.links.2"}}}</span> <i class="fas"></i>
          </li>
          <li class="presta-item" data-cat="{{{__ "prestations.detailedServices.3"}}}">
            <span>{{{__ "prestations.links.3"}}}</span> <i class="fas"></i>
          </li>
          <li class="presta-item" data-cat="{{{__ "prestations.detailedServices.4"}}}">
            <span>{{{__ "prestations.links.4"}}}</span> <i class="fas"></i>
          </li>
        </ul>
        <div class="additional-container">
        </div>
      </div>
      <div id="cards"></div>
    </div>
  </section>
  <section class="call-to-action flex wrap main-section">
    <div>
      <h2 class="hero-title">{{{__ "prestations.callToAction.title"}}}</h2>
      <p class="hero-subtitle">{{{__ "prestations.callToAction.catchphrase"}}}</p>
      <button class="button black-button">{{{__ "prestations.callToAction.button"}}}</button>
    </div>
    <div>
      <p>{{{__ "prestations.callToAction.additional.title"}}}</p>
      <div class="options">
        <p>{{{__ "prestations.callToAction.additional.catchphrase"}}}</p>
        <ul class="square">
          <li>{{{__ "prestations.callToAction.additional.content.1"}}}</li>
          <li>{{{__ "prestations.callToAction.additional.content.2"}}}</li>
          <li>{{{__ "prestations.callToAction.additional.content.3"}}}</li>
          <li>{{{__ "prestations.callToAction.additional.content.4"}}}</li>
          <ul class="arrow">
            <li>{{{__ "prestations.callToAction.additional.content.a"}}}</li>
            <li>{{{__ "prestations.callToAction.additional.content.b"}}}</li>
            <li>{{{__ "prestations.callToAction.additional.content.c"}}}</li>
          </ul>
          <li>{{{__ "prestations.callToAction.additional.content.5"}}}</li>
        </ul>
      </div>

    </div>

  </section>
</section>