<section id="presta">
  <header class="header-intro main-section">
    <h1 class="page-title">{{{__ "prestations.subtitle"}}}</h1>
    <p class="catchphrase">{{{__ "prestations.mainTitle"}}}</p>
    <p class="sub-catchphrase">{{{__ "prestations.description"}}}</p>
    <div class="buttons-panel">
      <a class="button white-button" href="/prestations">{{{__ "prestations.buttons.1"}}}</a>
      <a class="button mixed-button" href="#details">{{{__ "prestations.buttons.2"}}}</a>
    </div>
  </header>
  <section id="details" class="presta-cards main-section">
    <div class="prg-header">
      <h2>{{{__ "prestations.sectionTitle"}}}</h2>
      <p>{{{__ "prestations.sectionDescription"}}}</p>
    </div>
    <div class="presta-pres">
      <div>
        <ul class="presta-list">
          <li class="presta-item selected-item" data-cat="{{{__ "prestations.detailedServices.1"}}}">
            <span>{{{__ "prestations.links.1"}}}</span> <i class="fas fa-chevron-right"></i>
          </li>
          <li class="presta-item" data-cat="{{{__ "prestations.detailedServices.2"}}}">
            <span>{{{__ "prestations.links.2"}}}</span> <i class="fas fa-chevron-right"></i>
          </li>
          <li class="presta-item" data-cat="{{{__ "prestations.detailedServices.3"}}}">
            <span>{{{__ "prestations.links.3"}}}</span> <i class="fas fa-chevron-right"></i>
          </li>
          <li class="presta-item" data-cat="{{{__ "prestations.detailedServices.4"}}}">
            <span>{{{__ "prestations.links.4"}}}</span> <i class="fas fa-chevron-right"></i>
          </li>
        </ul>
        <div class="additional-container">
        </div>
      </div>

      <div id="presta-result"></div>
    </div>
  </section>
</section>