<section id="resources">
  <header class="header-intro main-section">
    <h1 class="page-title">{{{__ "resources.subtitle"}}}</h1>
    <p class="catchphrase">{{{__ "resources.mainTitle"}}}</p>
    <p class="sub-catchphrase">{{{__ "resources.description"}}}</p>
    <a href="#resources-callToAction" class="icon-container">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </header>
  <section id="resources-callToAction" class="call-to-action flex wrap main-section">
    <div>
      <h2 class="hero-title">{{{__ "resources.callToAction.title"}}}</h2>
      <p class="hero-subtitle">{{{__ "resources.callToAction.catchphrase"}}}</p>
      <a href="https://calendly.com/frequence440" class="button black-button"
        target="_blank">{{{__ "resources.callToAction.button"}}}</a>
    </div>
    <div>
      <h2 class="hero-title">{{{__ "resources.manifeste.title"}}}</h2>
      <div class="options">
        <p>{{{__ "resources.manifeste.catchphrase"}}}</p>
      </div>
      <a href="#resources-manifesto" class="icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </div>
  </section>
  <section id="resources-callToAction" >
  </section>
</section>