<section id="transition">
  <header class="header-intro main-section">
    <h1 class="page-title">{{{__ "transition.subtitle"}}}</h1>
    <p class="catchphrase">{{{__ "transition.mainTitle"}}}</p>
    <p class="sub-catchphrase">{{{__ "transition.description"}}}</p>
    <a href="#transition-content" class="icon-container">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </header>
  <section class="full-page-list">
    <h1>{{{__ "transition.catchphrase"}}}</h1>
    <ol>
      <li>
        <h2>{{{__ "transition.content.1.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.2.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.3.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.4.title"}}}</h2>
      </li>
    </ol>
    <div class="middle-content">
      <p>Ces sujets sont très liés, une approche systémique est nécessaire</p>
      <button class="button mixed-button">Voir le Manifeste</button>
      <p>En tant qu’individu ou entreprise, la tâche peut paraître immense.
        Mais des démarches à l’échelle locale sont très pertinentes, pour :
      </p>
    </div>
    <ol>
      <li>
        <h2>{{{__ "transition.additional.1.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.additional.2.title"}}}</h2>
      </li>
    </ol>
  </section>
  <section class="main-section">
    <h1>Les individus peuvent agir.</h1>
    <button class="button black-button">faire une transition personnelle</button>
    <h1>Les entreprises et écoles du supérieur aussi*.</h1>
    <p>GRAPH TO DO</p>
    <button class="button black-button">Agir dans mon entreprise</button>
  </section>
</section>