<section id="transition">
  <header class="header-intro main-section">
    <h1 class="page-title">{{{__ "transition.subtitle"}}}</h1>
    <p class="catchphrase">{{{__ "transition.mainTitle"}}}</p>
    <p class="sub-catchphrase">{{{__ "transition.description"}}}</p>
    <a href="#transition-content" class="icon-container">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </header>
  <section id="transition-content" class="full-page-list">
    <h1>{{{__ "transition.catchphrase"}}}</h1>
    <ol>
      <li>
        <h2>{{{__ "transition.content.1.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.2.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.3.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.4.title"}}}</h2>
      </li>
    </ol>
    <div class="middle-content">
      <p>Ces sujets sont très liés, une approche systémique est nécessaire</p>
      <button class="button mixed-button">Voir le Manifeste</button>
      <p>En tant qu’individu ou entreprise, la tâche peut paraître immense.
        Mais des démarches à l’échelle locale sont très pertinentes, pour :
      </p>
    </div>
    <ol>
      <li>
        <h2>{{{__ "transition.additional.1.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.additional.2.title"}}}</h2>
      </li>
    </ol>
  </section>
  <section class="main-section actions">
    <h1>Les individus peuvent agir.</h1>
    <button class="button black-button">faire une transition personnelle</button>
    <h1>Les entreprises et écoles du supérieur aussi*.</h1>
    <div class="graph">
      <div class="imbricated first">
        <ul>
          <li>Comprendre et répondre aux besoins des utilisateurs</li>
          <li>Sensibiliser et former ses managers & collaborateurs</li>
          <li>Co-construire et fédérer autour de vos valeurs</li>
        </ul>
        <p>Stratégie</p>
      </div>
      <div class="imbricated second">
        <ul>
          <li>Réaliser le bilan carbone de la chaîne de valeur et la minimiser</li>
          <li>Optimiser les ressources de façon durable</li>
          <li>Passer en économie circulaire</li>
        </ul>
        <p>Conception des produits & services</p>
      </div>
      <div class="imbricated third">
        <ul>
          <li>Favoriser l’innovation et la prise d’initiative</li>
          <li>Implémenter de nouvelles méthodes de travail</li>
          <li>S’intégrer dans la communauté locale</li>
        </ul>
        <p>Organisation</p>
      </div>
      <div class="imbricated fourth">
        <ul>
          <li>Atteindre la sobriété énergétique</li>
          <li>Fournir une alimentation saine et durable aux équipes</li>
          <li>Établir une charte de déplacement</li>
          <li>Aller vers un numérique durable</li>
        </ul>
        <p>Campus / Locaux</p>
      </div>
    </div>
    <button class="button black-button">Agir dans mon entreprise</button>
  </section>
</section>