<section id="transition">
  <header class="header-intro main-section">
    <h1 class="page-title">{{{__ "transition.subtitle"}}}</h1>
    <p class="catchphrase">{{{__ "transition.mainTitle"}}}</p>
    <p class="sub-catchphrase">{{{__ "transition.description"}}}</p>
    <a href="#transition-content" class="icon-container">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </header>
  <section id="transition-content" class="full-page-list">
    <h1>{{{__ "transition.catchphrase"}}}</h1>
    <ol>
      <li>
        <h2>{{{__ "transition.content.1.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.2.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.3.title"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.content.4.title"}}}</h2>
      </li>
    </ol>
    <div class="middle-content">
      <p>{{{__ "transition.additional.1"}}}</p>
      <a class="button mixed-button" href="{{{__ "nav.rawLinks.5"}}}">{{{__ "transition.additional.2"}}}</a>
      <p>{{{__ "transition.additional.3"}}}</p>
    </div>
    <ol>
      <li>
        <h2>{{{__ "transition.additional.4"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "transition.additional.5"}}}</h2>
      </li>
    </ol>
  </section>
  <section class="transition-actions main-section">
    <h1>{{{__ "transition.callToAction.1"}}}</h1>
    <a class="button black-button" href="{{{__ "nav.rawLinks.5"}}}">{{{__ "transition.callToAction.2"}}}</a>
    <h1>{{{__ "transition.callToAction.3"}}}</h1>
    {{!-- <div class="graph">
      <div class="flex-col space-b">
        <ul>
          <li>{{{__ "transition.imbricated.first.1"}}}</li>
          <li>{{{__ "transition.imbricated.first.2"}}}</li>
          <li>{{{__ "transition.imbricated.first.3"}}}</li>
        </ul>
        <p>{{{__ "transition.imbricated.first.4"}}}</p>
      </div>
      <div class="flex-col space-b">
        <ul>
          <li>{{{__ "transition.imbricated.second.1"}}}</li>
          <li>{{{__ "transition.imbricated.second.2"}}}</li>
          <li>{{{__ "transition.imbricated.second.3"}}}</li>
        </ul>
        <p>{{{__ "transition.imbricated.second.4"}}}</p>
      </div>
      <div class="flex-col space-b">
        <ul>
          <li>{{{__ "transition.imbricated.third.1"}}}</li>
          <li>{{{__ "transition.imbricated.third.2"}}}</li>
          <li>{{{__ "transition.imbricated.third.3"}}}</li>
        </ul>
        <p>{{{__ "transition.imbricated.third.4"}}}</p>
      </div>
      <div class="flex-col space-b">
        <ul>
          <li>{{{__ "transition.imbricated.fourth.1"}}}</li>
          <li>{{{__ "transition.imbricated.fourth.2"}}}</li>
          <li>{{{__ "transition.imbricated.fourth.3"}}}</li>
          <li>{{{__ "transition.imbricated.fourth.4"}}}</li>
        </ul>
        <p>{{{__ "transition.imbricated.fourth.5"}}}</p>
      </div>
    </div> --}}
    <div class="graph-container" id="graph">
      <img src="/images/{{{__ "transition.graph"}}}.svg" alt="graph representing action plans">
    </div>
    <a class="button black-button" href="{{{__ "nav.rawLinks.4"}}}">{{{__ "transition.callToAction.4"}}}</a>
  </section>
</section>